.add-icon{
    width: 45px;
}
.group-item{
    width: 10vw;
    text-align: center;
}
.content{
    margin: auto;
    padding: 4% 5%;
}
.group-item p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    font-weight:lighter;
}
.group-item img{
    width: 100%;
}
.search-section{
    margin-top: 20px;
    margin-bottom: 20px;
}
.content-section{
    border: 1px solid #EBEBEE;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    background: #F9F9FA;
    padding: 10% 5%;
    margin-top: 50px;
    text-align: center;
}

.content-section h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.content-section button{
    font-weight: lighter;
    text-align: center;
    margin-top: 15px;
}
