
.content-section{
    border: 1px solid #EBEBEE;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    background: white;
    padding: 10% 5%;
    text-align: center;
    margin-bottom: 10px;
}

.content-section h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.content-section button{
    font-weight: lighter;
    text-align: center;
    margin-top: 15px;
}

.top-bg{
    position: fixed;
    top: 0;
    width: 100%;
    height: 200px;
    background: #b3beff;
    border-bottom-right-radius:85%;
    z-index: -1;
    left: 0;
}
body{
    padding: 5%;
}
.top-section{
    margin-top: 60px;
    margin-bottom: 100px;
}
.section{
    margin-right:20px;
    margin-top: 100px;
}
.section h1{
    color:#B0AFDF;
    font-size: 18px;
    font-weight: bold;
}
.section p{
    font-size: 24px;
    color:#6C6CA1;
    font-weight: 700;
}

.top-section h1{
    color: #f6f7ff;
    font-size: 16px;
    font-weight: bold;
}
.top-section p{
    font-weight: 700;
    color:#f6f7ff;
    font-size: 30px;
}
.section{
    text-align: right;
    position: relative;;
}
.section-cloud{
    position: absolute;
    left: -12%;
    width: 150px;
    z-index: -1;
    top: 121%;
}
.section-cloud2{
    position: absolute;
    left: 3%;
    width: 113px;
    z-index: -2;
    top: 115%;
}
.cloud1{
    width: 100px;
    position: absolute;
    right: 20%;
    bottom: 0;
}
.cloud2{
    width: 150px;
    position: absolute;
    right: -4%;
    bottom: 14px;
    z-index: -1;
}
.cloud3{
    width: 118px;
    position: absolute;
    right: -8%;
    bottom: 35px;
    z-index: -9;
}
.cloud4{
    width: 102px;
    position: absolute;
    right: 18%;
    bottom: 18px;
    z-index: -9;
}
.group-section h1{
    color: gray;
    font-size: 16px;
}
.group-item{
    width: 20vw;
    text-align: center;
}

.group-item p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    font-weight:lighter;
}
.group-item img{
    width: 100%;
}

.profile_pic{
    width: 100%;
    max-width: 80px;
}

.progress{
    height: 10px;
}
.details .name{
    padding-top: 20px;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.details .level{
    font-weight: 300;
    font-size: 14px;
}
.exp{
    font-size: 10px;
    text-align: right;
}
.right-section{
    margin-top: 50px;
    text-align: center;
}
.badge-label{
    font-size: 12px;
    font-weight: lighter;
    opacity: 0.9;
}
.manage-group{
    margin-bottom: 50px;
}
.manage-group small{
    font-size: 10px;
}
