
/* ------------------------------------------------------------------------------
Page Loader
-------------------------------------------------------------------------------*/
body,html,p,h1,h2,h3,h4,h5{
    font-family: 'Roboto', sans-serif;
}

.theme-btn{
    background: #4a5deb;
    color: white;
    border-radius: 20px;
    margin: auto;
}

.white-theme-btn{
    background: white;
    color: #4a5deb;
    border-radius: 20px;
    margin: auto;
}
.second-theme-btn{
    background: white;
    color: #4a5deb;
    border:1px solid #4a5deb;
    border-radius: 20px;
}
.borderless{
    border:none !important;
}

.page-loader{
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: white;
z-index: 999999;
}
.loader{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}
.loader img{
width: 200px;
display: block;
margin:auto;
margin-bottom: 15px;
}
