.flex-reverse{
    flex-direction: row-reverse;
}
.search-input, .search-form{
    margin-right: 20px;
}
.gap{
    margin-top: 50px;
}
/* ------------------------------------------------------------------------------
Page Loader
-------------------------------------------------------------------------------*/
.slick-initialized .slick-slide{
    outline: none !important;
}
.page-loader{
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: white;
z-index: 999999;
}
.loader{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}
.loader img{
width: 200px;
display: block;
margin:auto;
margin-bottom: 15px;
}

.hamburger img{
    width: 45px;
}
.outer-menu {
  position: fixed;
  width: 100%;
  top: 10px;
  left: 0;
  z-index: 1;
}
.menu-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  transition-duration: 0.75s;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}
.outer-menu .checkbox-toggle:hover + .hamburger {

}
.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.outer-menu .hamburger {
  position: absolute;
  top: 0;
  right:20px;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 0.5em 1em;
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #FEFEFE;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div:before,
.outer-menu .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  transition: all 0.4s ease;
}
.outer-menu .hamburger > div:after {
  top: 10px;
}
.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.outer-menu .menu > div {
  width: 200vw;
  height: 200vw;
  color: #FEFEFE;
  background: #769dff; /* Old browsers */
background: -moz-linear-gradient(-45deg, #769dff 0%, #af91f9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #769dff 0%,#af91f9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #769dff 0%,#af91f9 100%);
  border-radius: 50%;
  transition: all 0.4s ease;
  flex: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
    border-radius: 0 !important;
}
.outer-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}
.outer-menu .menu > div > div > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block;
}
.outer-menu .menu > div > div > ul > li > a {
    color: white;
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color 0.4s ease;
}
.outer-menu .menu > div > div > ul > li > a:hover {
  color: #e5e5e5;
}
.outer-menu .menu > div > div > ul > li > a:hover:after {
  width: 100%;
}
.outer-menu .menu > div > div > ul > li > a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #e5e5e5;

  transition: width 0.4s ease;
}
.navbar-brand img{
    width: 35px;
}
.sub-nav{
    margin: auto;
    margin-right: 0;
}
.sub-nav a{
    font-size: 20px;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 15px 15%;
    border-bottom: 1px solid #ECECEC;
    background: white;
}
body{
        background: #f8f9fa !important;
}
.content{
    width: 78%;
    margin: auto;
}
.modal-content{
    border: 1px solid #ECECEC;
    padding: 20px;
}
.modal-backdrop.show{
    opacity: 0.6;
}
.modal-header,.modal-footer{
    border:none;
}
