.list-title{
    width: 100%;
    display: block;
    font-size: 18px;
    color:#484848;
    margin-bottom: 10px;
}

.normal-list{
    list-style: none;
    padding: 16px 0px;
    position: relative;
}
.normal-list li{
    padding:10px 0px;
}


.border-list{
    list-style: none;
    padding: 16px 0px;
    position: relative;
}
.border-list li{
    cursor: pointer;
    list-style: none;
    width: 100%;
    padding: 15px 25px;
    border: 1px solid #EDEFF3;
}

.animated-list>li>a {
    letter-spacing: 2.5px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: .9em;
    color: #ffd4ff!important;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    transition-delay: .7s;
}
.animated-list {
    padding: 1px 0px!important;
    margin: 2px;
    background: rgba(277,277,277,.7);
}
.animated-list>li {
    cursor: pointer;
    list-style: none;
    width: 100%;
    padding: 8px 16px;
    background: #fafafa;
    margin: 5px 0;
    border: 2px solid #f5f5f5;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition: 1.2s;
    -moz-transition: 1.2s;
    -o-transition: 1.2s;
    transition: 1.2s;
}
.animated-list>li:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,212,255,.3);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: 1.2s;
    -moz-transition: 1.2s;
    -o-transition: 1.2s;
    transition: 1.2s;
}
.animated-list>li:hover a, #nav>ul>li:focus a, #nav>ul>li:active a {
    color: #f8ecf0!important;
}
.animated-list>li:hover, #nav>ul>li:focus, #nav>ul>li:active {
    background: #fff;
    border: 2px solid #fcfcfc;
}
.animated-list>li:hover:before, #nav>ul>li:focus:before, #nav>ul>li:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background: #fff;
}
.animated-list a {
    text-decoration: none;
}
