.modal-title{
    font-size: 16px;
    color: #3E3E3E;
}
.modal-title i{
    margin-right: 10px;
    font-size: 14px;
}
.modal-header{
    border:0;
}
.modal-body p{
    font-size: 13px;
    color:gray;
    margin-bottom: 5px;
}
.modal-footer{
    border:0;
}
