.Credit{
    color:#31D769;
}
.Debit{

}
.pagination{
    justify-content: center;
    margin-top: 40px;
}
.table-section{
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 2px #EAEAEA;
    margin-bottom: 20px;
    border-radius: 5px;
}
.table-section .title{
    font-size: 18px;
    display: inline-block;
}
.table-section .subtitle{
    font-size: 12px;
    color:gray;
    margin-bottom: 20px;
}
.table thead th{
    border-bottom: 0;
}
thead{
    color:white;
}
td{
    color: var(--dashboard-secondary-font);
}
.table td, .table th{
    border-top: 1px solid #F0F1F1;
}
.thead-purple{
    background: #cec2ec; /* Old browsers */
    background: -moz-linear-gradient(45deg,#cec2ec 0%, #a081f6 51%, #A686F8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #cec2ec 0%,#a081f6 51%,#A686F8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #cec2ec 0%,#a081f6 51%,#A686F8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.thead-blue{
    background: #38d3ff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #38d3ff 0%, #44A2F3 50%, #6A77FF 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #38d3ff 0%,#44A2F3 50%,#6A77FF 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #38d3ff 0%,#44A2F3 50%,#6A77FF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.thead-red{
    background: #fdc0a3; /* Old browsers */
    background: -moz-linear-gradient(45deg, #fdc0a3 0%, #f9a4c5 50%, #f899d1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #fdc0a3 0%,#f9a4c5 50%,#f899d1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #fdc0a3 0%,#f9a4c5 50%,#f899d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.thead-green{
    background: #47e0b2; /* Old browsers */
    background: -moz-linear-gradient(45deg, #47e0b2 0%, #00b58a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #47e0b2 0%,#00b58a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #47e0b2 0%,#00b58a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.thead-orange{
    background: #fdc0a3; /* Old browsers */
    background: -moz-linear-gradient(45deg, #fdc0a3 0%, #f9a4c5 50%, #f899d1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #fdc0a3 0%,#f9a4c5 50%,#f899d1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #fdc0a3 0%,#f9a4c5 50%,#f899d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.thead-black{
    background: #2C2C2C; /* Old browsers */
    background: -moz-linear-gradient(45deg, #3D3D3D 0%, #393939 50%, #2C2C2C 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #3D3D3D 0%,#393939 50%,#2C2C2C 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #3D3D3D 0%,#393939 50%,#2C2C2C 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.thead-none tr th{
    color:#2A2A2A;
    border-top: 0;
}
.thead-border tr th{
    color:#2A2A2A;
}
.thead-border{
    border: 2px solid #2E2E2E;
}
.search-total{
    text-align: center;
    font-size: 12px;
    color: gray;
}
.table-form-section{
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 2px #EAEAEA;
    margin-bottom: 20px;
    border-radius: 5px;
}
.table-form-section i{
    margin-right: 5px;
}
.table-form-section .title{
    display: inline-block;
    font-size: 18px;
    color: #424242;
    margin-bottom: 15px;
}

.table-form-section .small-title{
    display: inline-block;
    font-size: 16px;
    color: #424242;
    margin-bottom: 15px;
}
.small-title-2{
    font-weight: bold !important;
    font-size: 12px !important;
    margin-bottom: 5px !important;
}
.inline-table-form-section .title{
    margin-bottom: 15px;
}
.inline-table-form-section{
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #EAECEE;
}

/*******************
    DROPDOWN
*******************/

.table-action-section{
    margin-bottom: 30px;
}
.dropdown-menu .dropdown-anchor::after{
    border: 6px solid #C6C6C6;
}
.dropdown-menu ul li>a, .dropdown-menu ul li label{
    font-size: 13px;
    transition: 0.3s all;
    color: var(--dashboard-secondary-font);
}
.dropdown-menu ul li a:hover{
    background:transparent !important;
    color:#2B2B2B !important;
    font-weight: bold;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.division{
    border-top: 1px solid #E5E7EC;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
