/** Easy Tree style */
.parent_li ul{
    margin-left:60px;
}
.easy-tree li.parent_li > span {
    cursor: pointer;
    border: 1px solid #FF5E21 !important;
}
.tree-list-box .title{
    font-size: 20px;    
    margin-bottom: 20px;
}
.easy-tree {
    min-height: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    color: #FF9B7E;
    border: none;
    border-top: none;
    padding-bottom: 15px;
}
.tree-list-box{
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 2px #EAEAEA;
    margin-bottom: 20px;
    border-radius: 5px;
}
.easy-tree li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0 5px;
    position: relative
}

.easy-tree li::before, .easy-tree li::after {
    content: '';
    left: -30px;
    position: absolute;
    right: auto
}

.easy-tree li::before {
    border-left: 1px solid #FF9B7E;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px
}

.easy-tree li::after {
    border-top: 1px solid #FF9B7E;
    height: 20px;
    top: 30px;
    width: 35px
}

.easy-tree li > span {
    border: 1px solid #FF5E21 ;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    text-decoration: none
}

.easy-tree li span:hover{
    background: #FF7964;
}
.easy-tree li span:hover a{
    color:white;
}


.parent_li ul li > span{
    border: 1px dotted #FF9B7E;
}
.parent_li .glyphicon{
    margin-right: 5px;
}
.easy-tree > ul > li::before, .easy-tree > ul > li::after {
    border: 0
}

.easy-tree li:last-child::before {
    height: 30px
}

.easy-tree li.parent_li > span:hover a{
    color:white;
}

.easy-tree li.parent_li > span:hover, .easy-tree li.parent_li > span:hover + ul li span {
    background: #FF7964;
    color: white !important;
}
.easy-tree li.parent_li > span:hover, .easy-tree li.parent_li > span:hover + ul li a{
    color:white;
}

.easy-tree li > span > a {
    color: var(--dashboard-primary-font);
    text-decoration: none;
}

.easy-tree li > span > span.glyphicon-folder-close, .easy-tree li > span > span.glyphicon-folder-open {
    margin-right: 5px;
}

.easy-tree .easy-tree-toolbar {
    background-color: #FF9B7E;
}

.easy-tree .easy-tree-toolbar > div {
    display: inline-block;
}

.easy-tree .easy-tree-toolbar > div > button {
    border-radius: 0;
    margin: 20px 5px;
}

.easy-tree .easy-tree-toolbar .create .input-group {
    top: -15px;
    margin-left: 5px;
    margin-right: 5px;
}

.easy-tree .easy-tree-toolbar .create .input-group input {
    border-radius: 0;
}

.easy-tree .easy-tree-toolbar .create .input-group button {
    border-radius: 0;
}
