@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {
    .dashboard-link{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 575px) {
    .dashboard-panel{
        padding-bottom: 20px !important;
    }
    .navbar .navbar-brand img{
        width: 60px;
        margin-top: 0px;
    }
    .user-area{
        width: auto;
    }
    .navbar .navbar-nav{
        padding-bottom: 20px;
        width: 100%;
    }
    .collapsing{
        opacity: 0;
    }
    .user-col{
        width: 100% !important;
    }
    .dashboard-link{
        margin-bottom: 20px;
    }
    .col-xs-8{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-xs-4{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .dashboard-panel .title{
        margin-top: 25px;
    }

    .transaction-table{
        overflow: scroll;
    }
    .right-panel{
        padding-left: 0 !important;
    }
    aside.left-panel{
        position: relative;
        box-shadow: none;

    }
}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 320px) {

}
